HTML, body {
  font-family: monospace;
  background-color: cyan;
  margin: 0;
}

#header {
  background-color: blue;
  color: white;
  padding: 2px;
}

.flash {
  list-style-type: none;
  background-color: red;
  border-radius: 16px;
}

#content {
  padding: 2px;
}
