/* https://coolors.co/ceec97-f4b393-fc60a8-7a28cb-494368 */

HTML, body {
  font-family: 'Segoe UI', sans-serif;
  background-color: white;
  margin: 0;
  min-height: 100vh;
}

#header {
  background-color: #FC60A8;
  color: white;
  padding: 8px;
}

.flash {
  list-style-type: none;
  background-color: red;
  border-radius: 16px;
}

#content {
  padding: 8px;
}

#login {
  max-width: 25vw;
  min-height: 25vh;
  border-radius: 8px;
  border: 1px lightgray solid;
  padding: 8px;
  
  margin: 0 auto;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#login .input-field {
  text-align: center;
  background-color: #CEEC97;
  border-radius: 4px;
  padding: 4px;
  color: black;
}

#login .input-field label {
  text-align: left; 
  display: block;
  font-weight: bold;
}

#login .input-field input {
  width: 97%;
}

#footer {
  text-align: center;
  position: absolute;
  width: 100vw;
  bottom: 8px;
  display: inline-block;
}

button {
  background-color: #494368;
  color: white;
  border-radius: 4px;
  border: 0;
  padding: 8px;  
  font-family: inherit;
  font-weight: bold; 
}
