<!-- Straight from JINJA docs -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} - Bionic Productivity</title>
    {% endblock %}
</head>
<body>
  <div id="header">
    <h1>
    Bionic Shopping    
    </h1>
  </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright {{ year }} by <a href="https://bionicbruins.org/">Bionic Bruins</a>.
        {% endblock %}
    </div>
</body>
</html>