{% extends "base.html" %} <!-- EXTREMELY IMPORTANT! This tells JINJA that we are overriding the blocks in base.html -->
{% block title %}Home{% endblock %} <!-- Override the title block to provide a title for the page -->
{% block content %} <!-- Provide our own content -->

<h2>
  {{ message }} <!-- We're using those variables we passed in! -->
</h2>
<div>
  <div class="products-display">
    <!-- A for loop makes our code flexible; we can add another product and everything will adjust! -->
    {% for product in products %}
    <a href="{{ url_for('product_page', id=product.id )}}" class="product-on-display">
      <h1>{{product.name}}</h1>
      <img src="{{product.imageLink}}" />
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %} <!-- All multiline blocks must have an end... block -->

